.clock--wrapper__main{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}
.day--spacer{
    width: 22px;
}
.time--spacer{
    width: 18px;
    height: 100%;
}
.time--spacer p{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:"clarendon-urw";
    font-size: 40px;
    font-weight: 700;
    color: #4a2e1c;
    margin-top: 7px;
    padding-right: 1px;
}
@media only screen and (max-width: 768px) {
    .clock--wrapper__main{
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(.75);
    }
    .clock--shell--main{
        width: 85vw;
        height: 100px;
    }
}
